doctype html
html
  head
    title Hello World!
    link(rel='stylesheet', href='/style.min.css')
  body
    h1 Hello World!
    | We are using node.js
    ul#devices
    ul#details
    ul#more-details
    p#data
    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='script.min.js')
